<script src="../js/modernizr.custom.js"></script>

<div class="container">
	<div class="containerlist">
		<nav id="menu1" class="nav">
			<ul>
				<li>
					<ul>
						{% include brickli.html linkTarget="home.html" linkIcon="icon-home" linkText="Home" %}
						{% include brickli.html %}
						{% include brickli.html %}
						{% include brickli.html %}
						{% include brickli.html %}
						{% include brickli.html linkTarget="#" linkIcon="icon-contact" linkText="About me" %}
						{% include brickli.html image="..\images\avatar.jpg" %}
						{% include brickli.html %}
					</ul>
				</li>

				<li>
					<ul>
						{% include brickli.html %}
						{% include brickli.html active="true" linkTarget="services.html" linkIcon="icon-services" linkText="Incubator" %}
						{% include brickli.html image="..\images\incubatorProxy.png" %}
						{% include brickli.html image="..\images\fanProxy.png" %}
						{% include brickli.html %}
						{% include brickli.html active="true" linkTarget="services.html" linkIcon="icon-services" linkText="DNA Staining" %}
						{% include brickli.html image="..\images\dnaStainingProxy.png" %}
						{% include brickli.html %}
					</ul>
				</li>
				
				<li>
					<ul>
						{% include brickli.html %}
						{% include brickli.html %}
						{% include brickli.html %}
						{% include brickli.html active="true" linkTarget="services.html" linkIcon="icon-services" linkText="Centrifuge" %}
						{% include brickli.html image="..\images\centrifugeProxy.png" %}
						{% include brickli.html %}
						{% include brickli.html %}
						{% include brickli.html %}
						
						

<!--<li>
	<a href="#" class="visible"> <span class="icon"> <i class="icon-blog"></i> </span> <span class="text">My Blog</span> </a>
</li>-->
					</ul>
				</li>
			</ul>
		</nav>
	</div>
</div>

<div class="image">
</div>

<script>
	//  The function to change the class
	var changeClass = function (r,className1,className2) {
		var regex = new RegExp("(?:^|\\s+)" + className1 + "(?:\\s+|$)");
		if( regex.test(r.className) ) {
			r.className = r.className.replace(regex,' '+className2+' ');
		}
		else{
			r.className = r.className.replace(new RegExp("(?:^|\\s+)" + className2 + "(?:\\s+|$)"),' '+className1+' ');
		}
		return r.className;
	};	

	//  Creating our button in JS for smaller screens
	var menuElements = document.getElementById('menu');
	menuElements.insertAdjacentHTML('afterBegin','<button type="button" id="menutoggle" class="navtoogle" aria-hidden="true"><i aria-hidden="true" class="icon-menu"> </i> Menu</button>');

	//  Toggle the class on click to show / hide the menu
	document.getElementById('menutoggle').onclick = function() {
		changeClass(this, 'navtoogle active', 'navtoogle');
	}

	// http://tympanus.net/codrops/2013/05/08/responsive-retina-ready-menu/comment-page-2/#comment-438918
	document.onclick = function(e) {
		var mobileButton = document.getElementById('menutoggle'),
			buttonStyle =  mobileButton.currentStyle ? mobileButton.currentStyle.display : getComputedStyle(mobileButton, null).display;

		if(buttonStyle === 'block' &amp;&amp; e.target !== mobileButton &amp;&amp; new RegExp(' ' + 'active' + ' ').test(' ' + mobileButton.className + ' ')) {
			changeClass(mobileButton, 'navtoogle active', 'navtoogle');
		}
	
	}
</script>
