<div class="post-header-container">
	<div class="banner">
		<nav class="nav">
			<ul>
				<li>
					<a href="{{ site.baseurl }}/..">
						<span class="icon">{{ site.data.bricks.iconHome }}</span>
						<span class="text">Home</span> 
					</a>

				</li>
				
				<li>
					<ul>
						<li>
							<a href="{{ site.baseurl }}/..#basics">
								<span class="icon">{{ site.data.bricks.iconLab }}</span>
								<span class="text">Basics</span> 
							</a>
						</li>

						<li>
							<a href="{{ site.baseurl }}/..#incubator">
								<span class="icon">{{ site.data.bricks.iconLab }}</span>
								<span class="text">Incubator</span> 
							</a>
						</li>
						
						<li>
							<a href="{{ site.baseurl }}/..#pump">
								<span class="icon">{{ site.data.bricks.iconLab }}</span>
								<span class="text">Peristaltic Pump</span> 
							</a>
						</li>
					</ul>
				</li>
				
			</ul>
		</nav>

		<div class="banner-text">
			<h1>BioHack Academy Articles</h1>
		</div>
	</div>
	
</div>