//
// VARIABLES
//

// Colors

$backgroundColor: $white;

$greenSea:  #55c392;
$darkGreen: #16a085;
$emerald:   #2ecc71;
$nephritis: #27ae60;
$turquoise: #1abc9c;

$babyBlue:  #18c3cf;
$blue:      #4183C4;

$orange:    #fe7002;

$brickMainColor:       $turquoise;
$brickHighlightColor:  $orange;

// Brick dimensions
$brickWidth:       7em;
$brickHeight:      $brickWidth;
$bottomFirstBricks:2em;

$brickWidthMedium:        5.5em;
$brickHeightMedium:       $brickWidthMedium;
$bottomFirstBricksMedium: 2em;

$brickFont:        1.6em;
$brickBorderWidth: 0em;

