
//
// VARIABLES
//

// Colors
$blue:      #4183C4;
$brickMainColor: #1abc9c;
//$brickMainColor: #55c392;
//$brickMainColor: #18c3cf;
//$brickHighlightColor:  #16a085;
$brickHighlightColor:  #fe7002;;
$emerald:   #2ecc71;
$nephritis: #27ae60;

// Bricks
$brickWidth:       7em;
$brickHeight:      7em;
$bottomFirstBricks:5em;
$brickFont:        1.6em;
$brickBorderWidth: 0em;


// Grays
$black:      #000;
$darkerGray: #222;
$darkGray:   #333;
$gray:       #666;
$lightGray:  #eee;
$white:      #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}