.about-me {
	height: 700px;
	background-image: url(/images/gelElectrophoresisOriginal.jpg);
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	background-color: #271836;
	background-attachment: fixed;
	@include flex-display;
	@include flex-column;
	@include flex-justify-end;
	@include flex-align-items-center;
	margin-top: 40px;
	margin-bottom: 40px;
	
	.section {
		background-color: white;
		width: 100%;
		@include flex-display;
		@include flex-column;
		@include flex-justify-center;
		@include flex-align-items-center;
		padding-left: 0px;
		padding-right: 0px;
	
		.name {
			text-transform: uppercase;
		}
		
		.skill-sets {
			max-width: $section-maxwidth;
			width: 100%;
			//height: 100vh;
			@include flex-display;
			@include flex-row;
			@include flex-justify-space-around;
			margin-top: 20px;
					
			.skill-set {
				width: 32%;
				@include flex-display;
				@include flex-column;
				@include flex-align-items-center;
				padding-top: 20px;
						
				h5 {
					width: 100%;
					color: $myRed1;
				}
				
				.skill {
					width: 100%;
					@include flex-display;
					@include flex-row;
					@include flex-justify-start;
					font-size: 0.7em;
				
					.skill-name {
						width: 150px;
					}
					
					.skill-value {
						//padding-left: 30px; 
					}
				}	
			} // skill-sets
		} // skill-sets
	} // section
}


@media (min-width: 880px) and (max-width: $section-maxwidth - 50) {
	.about-me .section {
		.skill-sets {
			@include flex-justify-start;
			@include flex-wrap;
			padding-left: 10px;
			padding-right: 10px;

			.skill-set {	
				width: 50%;
			}
		}
	}
}

@media (max-width: 880px + 10) {
	.about-me {
		height: 900px;
		//background-size: auto 700px;
		background-size: contain;
		background-repeat: no-repeat;
		
		.section {
			.description h4 {
				font-size: 0.8em;
			}
			
			.skill-sets {
				@include flex-justify-start;
				@include flex-wrap;
				padding-left: 20px;
				padding-right: 20px;
	
				.skill-set {	
					width: 100%;
					
					.skill {
						@include flex-column;
						
						.skill-value {
							padding-left: 30px; 
						}
					}
				}
			}
		}
	}
}