.courses-container {
	height: 500px;
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

.courses-section {
    width: $section-maxwidth;
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
	//background: #999;
}

.course {
	width: 50%;
	display: flex;
	flex-flow: row;
	//background: #00F;
	align-items: center;
	justify-content: flex-start;
	padding-left: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	
	.course-logo {
		margin: 0 5px;
		flex-basis: 100px;

		img {
			display: block;
			max-height: 60px;
			margin: 0 auto;
		}
	}
	
	.course-info {
		display: flex;
		flex-flow: column;
		align-items: flex-start;
		justify-content: space-between;
		font-size: 0.7em;
		//background: #999;
		
		a {
			padding: 0;
			margin: 0;
			color: $myDarkGreen;
			font-weight: bold;
		}
		
		a:hover {
			color: $myGreen;
		}
	}
}

@media (max-width: 700px) {
	.courses-container {
		height: auto;
	}
	
	.courses-section {
    	width: auto;
	}
	
	.course {
		width: 100%;
	}
}