//
// VARIABLES
//


<<<<<<< HEAD:_assets/stylesheets/_headerVariables.scss
$bannerBackground: url(/images/bgimage.jpg) center center;
=======
//$bannerBackground: url(../_assets/images/image.png) center center;
$bannerBackground: url(/images/image.png) center center;
>>>>>>> af874dd77f1d71b1deed4ea5582663e444f774d1:_assets/stylesheets/_headerVariables.scss


// Colors

$backgroundColor: #fff;

$greenSea:  #55c392;
$darkGreen: #16a085;
$emerald:   #2ecc71;
$nephritis: #27ae60;
$turquoise: #1abc9c;

$babyBlue:  #18c3cf;
$blue:      #4183C4;

$orange:    #fe7002;

// Brick dimensions
$brickWidth:       7em;
$brickHeight:      $brickWidth;
$bottomFirstBricks:2em;

$brickWidthMedium:        5.5em;
$brickHeightMedium:       $brickWidthMedium;
$bottomFirstBricksMedium: 2em;

$brickWidthSmall:        4.2em;
$brickHeightSmall:       $brickWidthSmall;
$bottomFirstBricksSmall: 1em;

$brickFont:        1.6em;
$brickBorderWidth: 0em;

