//
// VARIABLES
//


$bannerBackground: url(/images/bgimage.jpg) center center;

// Brick link
//$brickLinkHoverColor: rgba(168, 234, 8, 1);
//$brickLinkHoverColor: rgba(255, 229, 127, 1);
$brickLinkHoverColor: #ffe57f;
$brickLinkColor:      rgba(249, 249, 249, 1);

// Brick dimensions
$brickWidth:       8.8em;
$brickHeight:      $brickWidth;
$bottomFirstBricks:0em;

$brickWidthMedium:        5.5em;
$brickHeightMedium:       $brickWidthMedium;
$bottomFirstBricksMedium: 2em;

$brickWidthSmall:        4.3em;
$brickHeightSmall:       $brickWidthSmall;
$bottomFirstBricksSmall: 1em;

$titleFont:            3em;
$brickFontIcon:        2.3em;
$brickFontText:        1em;

$titleFontMedium:      2em;
$brickFontIconMedium:  1.8em;
$brickFontTextMedium:  0.7em;

$titleFontSmall:      1.5em;
$brickFontIconSmall:  1.4em;
$brickFontTextSmall:  0.54em;

