@font-face {
	font-family: 'icomoon';
	src: url('../fonts/menu/icomoon.eot');
	src: url('../fonts/menu/icomoon.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/menu/icomoon.woff') format('woff'),
		 url('../fonts/menu/icomoon.ttf') format('truetype'),
		 url('../fonts/menu/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Windows Chrome ugly fix http://stackoverflow.com/questions/13674808/chrome-svg-font-rendering-breaks-layout/14345363#14345363
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'icomoon';
		src: url('../fonts/icomoon.svg#icomoon') format('svg');
	};
}


.header-container {
	//height: 5 * $brickHeight - 2em;
	height: 100vh;
	min-height: 7 * $brickHeightSmall;
	background-image: url(/images/bgimage.jpg);
	background-size: cover;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
		
	.icon-team, .icon-blog, .icon-home, .icon-portfolio, .icon-services, .icon-contact, .icon-menu {
		font-family: 'icomoon';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
	}
	
	.icon-team:before {
		content: "\e000";
	}
	
	.icon-blog:before {
		content: "\e001";
	}
	
	.icon-home:before {
		content: "\e002";
	}
	
	.icon-portfolio:before {
		content: "\e003";
	}
	
	.icon-services:before {
		content: "\e004";
	}
	
	.icon-contact:before {
		content: "\e005";
	}
	
	.icon-menu:before {
		content: "\f0c9";
	}
	
	// For all screen sizes
	.nav {
		margin: 0 0;
		max-width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		
		.bricklists {
			max-width: 8 * $brickWidth;
			height: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			align-content: center;
			align-items: center;
			
			.title {
				color: white;
				font-size: $titleFont;
				font-weight: bold;
				width: 50%;
				//width: auto;
				display: flex;
				flex-direction: row;
				justify-content: center;
			}
				
			.bricklist {
				display: flex;
				flex-direction: row;
				justify-content: center;
				flex-wrap: wrap;
				width: 50%;
		
				.brick {
					width: $brickWidth;
					height: $brickHeight;
					
					img {
						width: 100%;
						height: 100%;
					}
					
					// Remove the blue Webkit background when element is tapped
					a, button {
						-webkit-tap-highlight-color: rgba(0,0,0,0);
					}
					
					a,
					a:hover {
						color: $brickLinkColor;
					}

					a {
						margin: 0;
						padding: 0;
						width: 100%;
						height: 100%;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						flex-wrap: wrap;
						
						-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
						
						.text {
							font-size: $brickFontText;
							font-family:Verdana;
						    font-weight:100;
							text-align: center;
						}
						
						.icon {
							display: flex;
							flex-direction: row;
							justify-content: center;
							font-size: $brickFontIcon;
						}
					} // a
				} // brick
			} // bricklist

			.bricklist:nth-child(1) {
				height: 26%;
				justify-content: flex-start;
				padding-left: $brickWidth / 2;
			}
			.bricklist:nth-child(2) {
				height: 26%;
				justify-content: flex-end;
				padding-right: $brickWidth / 2;
			}

			.bricklist:nth-child(5),
			.bricklist:nth-child(6) {
				width: 100%;
				//padding-left: $brickWidth / 2;
			}

			.brickicon,
			.nobrickicon {
				position: relative;
				@include transition;
			}
			.brickicon:hover {
				outline: rgba(255, 255, 255, 0.5) 10px solid;
				z-index: 100;
			}
			.nobrickicon:hover {
				background: $gray;
			}

		} // bricklists
		
	} // nav
} //header-container	
	
	
@media (min-width: $brickMediaScaleFactor * $brickWidthMedium) and (max-width: $brickMediaScaleFactor * $brickWidth + 10) {
	@include headermediascale($brickWidthMedium, $brickHeightMedium, $titleFontMedium, $brickFontTextMedium, $brickFontIconMedium);
}

@media (min-width: $brickMediaScaleFactor * $brickWidthSmall) and (max-width: $brickMediaScaleFactor * $brickWidthMedium + 10) {
	@include headermediascale($brickWidthSmall, $brickHeightSmall, $titleFontSmall, $brickFontTextSmall, $brickFontIconSmall);
}

@media (max-width: $brickMediaScaleFactor * $brickWidthSmall + 10) {
	@include headermediascale($brickWidthSmall, $brickHeightSmall, $titleFontSmall, $brickFontTextSmall, $brickFontIconSmall);
	
	.header-container .nav { 
		.bricklists,
		.bricklists .bricklist {
			flex-direction: row;
			flex-wrap: wrap;
			width: auto;
			justify-content: center;
		}
		
		.bricklists .bricklist:nth-child(1),
		.bricklists .bricklist:nth-child(2),
		.bricklists .bricklist:nth-child(5),
		.bricklists .bricklist:nth-child(6) {
			height: auto;
			width: auto;
		}
		
		.bricklists .title { 
			width: 100%;
			font-weight: normal;
			justify-content: center;
		}
	}
}

@media (max-width: 450px) {
	@include headermediascale($brickWidthSmall, $brickHeightSmall, $titleFontSmall, $brickFontTextSmall, $brickFontIconSmall);

	.header-container .nav { 
		.bricklists,
		.bricklists .bricklist {
			flex-direction: row;
			flex-wrap: wrap;
			width: auto;
			justify-content: center;
		}
		
		.bricklists .bricklist:nth-child(1),
		.bricklists .bricklist:nth-child(2),
		.bricklists .bricklist:nth-child(5),
		.bricklists .bricklist:nth-child(6) {
			height: auto;
			width: auto;
		}
		
		.bricklists .bricklist:nth-child(6) {
			padding-left: $brickWidthSmall;
		}
		
		.bricklists .bricklist:nth-child(4) {
			padding-right: $brickWidthSmall;
		}
		
		.bricklists .title { 
			width: 100%;
			font-weight: normal;
			justify-content: center;
		}
	}

}