//
// VARIABLES
//


$bannerBackground: url(/images/bgimage.jpg) center center;

// Brick link
//$brickLinkHoverColor: rgba(168, 234, 8, 1);
//$brickLinkHoverColor: rgba(255, 229, 127, 1);
$brickLinkHoverColor: #ffe57f;
$brickLinkColor:      rgba(249, 249, 249, 1);

// Brick dimensions
$brickWidth:       7em;
$brickHeight:      $brickWidth;
$bottomFirstBricks:2em;

$brickWidthMedium:        5.5em;
$brickHeightMedium:       $brickWidthMedium;
$bottomFirstBricksMedium: 2em;

$brickWidthSmall:        4.2em;
$brickHeightSmall:       $brickWidthSmall;
$bottomFirstBricksSmall: 1em;

$brickFont:        1.6em;
$brickBorderWidth: 0em;

