.incubator-container {
	//height: 600px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0 0;
	background-color: $myGreen;
	
	img {
		max-height: 600px;
	}
}