.incubator-container {
	//height: 600px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0 0;
	background-color: $myGreen;
	
	img {
		max-height: 600px;
	}
	
	.incubator-articles {
		padding: 20px;
		font-size: 0.8em;
		
		.post {
			color: #b6e1da;
		}
		
		a {
			padding: 0;
			margin: 0;
			color: #ffe57f;
		}
		
		a:hover {
			color: #ffe57f;
		}
		
	}
}