.post-container {
	@include flex-display;
  	@include flex-column;
  	@include flex-justify-center;
  	@include flex-align-items-center;
	
	.apost {
		max-width: 800px;
		padding: 10px;
			
		h1 {
			margin: 0;
			padding: 0;
		}
	}
}