.post-header-container {
    @include flex-display;
    @include flex-column;
	
	.banner {
		height: 230px;
	    @include flex-display;
	    @include flex-column;
	    @include flex-align-items-center;
		background-color: $myGreen2;

		nav {
			//height: 30px;
			margin: 0;
			padding: 0;
			width: 100%;
			font-size: 1em;
			
			ul {
				margin: 0;
				padding: 0;
				list-style-type: none;
				@include flex-display;
	    		@include flex-row;
	    		@include flex-justify-space-around;
							
				a {
					margin: 0;
					color: white;
					padding: 0 15px;
				}

				a:hover,
				a:active {
				    text-decoration: underline;
				}
				
				ul {
					margin: 0;
					padding: 0;
					list-style-type: none;
					@include flex-display;
		    		@include flex-row;
				
					li {
						padding: 0 15px;
					}
				}
			}
		} // nav

		.banner-text {
			border: 5px solid white;
			padding: 10px;
			margin-top: 50px;
			
			h1 {
				padding: 0;
				margin: 0;
				color: white;
			}
		}
	} // banner
}

@media (max-width: 600px) {
	.post-header-container .banner nav {
		font-size: 0.7em;
	}
	
	.post-header-container .banner .banner-text h1 {
		font-size: 1.5em;
	}
}