

/* VARIABLES */


$blue:       #4183C4;

// Grays
$black:      #000;
$darkerGray: #222;
$darkGray:   #333;
$gray:       #666;
$lightGray:  #eee;
$white:      #fff;

// Colors

$backgroundColor: #fff;

$greenSea:    #55c392;
$darkGreen:   #16a085;
$emerald:     #2ecc71;
$nephritis:   #27ae60;
$turquoise:   #1abc9c;
$myGreen:     #19a993;
$myDarkGreen: #148776;

$babyBlue:     #18c3cf;
$blue:         #4183C4;
$myBabyBlue:   #00a3c2;
$myDarkBlue:   #00849d;
$myGrayBlue:   #65b4c4;
$myBlue:       #4183C4;
$myDarkerBlue: #156073;
$myOrange:     #fe7002;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}